body{
    background-color: #f0f0f0;
}

.login-div{
    padding: 15px;
    border: solid 1px #c0c0c0;
    box-shadow: 0 0 2px;
    display: inline-block;
}

.form-group{
    margin-top: 7px;
}

input[class*="control"]{
    display: block;
}

input[class^="blue"]{
    border: solid 1px blue;
}

input[class$="red"]{
    border: solid 1px red;   
}

.login-div button{
    background-color: turquoise;
    border: none;
}

.login-div button:hover{
    box-shadow: 2px 2px 3px #505050;
    background-color: chartreuse;
    border: none;
}

.login-div input:focus{
border: 5px;
}

ul li:last-child{
    color: red;
}

ul li:first-child{
    color: blue;
}

ul li:nth-child(2){
    text-decoration: underline;
}

p span:hover{
    color: yellowgreen;
}
